# live dns v5 api key
dns_gandi_api_key={{ gandi_apikey }}

{% if gandi_organization_id is defined and gandi_organization_id|length == 37 %}
# organization id
dns_gandi_sharing_id={{ gandi_organization_id }}
{% endif %}