#!/bin/bash
{% if certbot_haproxy is true %}
{% for cert in certbot_certs %}
cat /etc/letsencrypt/live/{{ cert.name }}/{fullchain.pem,privkey.pem} > {{ certbot_haproxy_path }}/{{ cert.name }}.pem
{% endfor %}
{% endif %}
/bin/systemctl reload {{ certbot_post_reload | join(' ') }}
